#team {
}

.team {
  position: relative;

  &__item {
    display: flex;
    flex-direction: column;

    height: 100%;

    text-align: center;
  }

  &__picture {
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
  }

  &__name {
    margin-bottom: 20px;
    font-weight: $weight-Medium;
    font-size: $font-size__text--large;

    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 12px;
      font-size: $font-size__text--default;
    }
  }

  &__role {
    font-weight: $weight-Regular;
    font-size: $font-size__text--medium;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--small;
    }
  }
}
