// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input-field__bg: #ededed;
$input-field__focus: #8c77de;
$input-field__error: #ff9c9c;
$input-field__placeholder: #5c5c5c;

@import "input";
@import "checkbox";
