.mobile-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;

  visibility: hidden;

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__wrapper {
      right: 0;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: 0.15s ease;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    right: -100%;

    width: 40%;
    min-width: 275px;
    height: 100%;

    overflow: auto;

    padding: 110px 30px 40px 30px;

    background-color: #ffffff;

    transition: 0.4s ease;
  }

  &__phone {
    font-weight: $weight-Bold;
    color: $text-purple;
  }

  &__action {
    span {
      font-weight: $weight-Bold;
      font-size: $font-size__text--small;
    }
  }
}
