// Цветовая палитра блоков
$palette-main: #f8f8f8;
$palette-footer: #ededed;
$palette-header: #ffffff;
$palette-block: #8c77de;

// Цветовая палитра текста
$text-main: #5c5c5c;
$text-secondary: #999999;

$text-purple: #8c77de;
$text-white: #ffffff;
