// Максимальная ширина контейнера
$container-max-width: 1180px;

$border-radius__primary: 8px;
$border-radius__secondary: 111px;
$border-radius__mobile: 70px;

$shadow__primary: 0 0 15px rgba(92, 92, 92, 0.15);
