// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;

// Размеры шрифта
$font-size__title: 48px;
$font-size__subtitle: 36px;
$font-size__text--large: 24px;
$font-size__text--big: 21px;
$font-size__text--medium: 18px;
$font-size__text--default: 16px;
$font-size__text--small: 14px;