#join {
  margin-top: 80px;
}

.join {
  &__photo {
    overflow: hidden;
    border-radius: $border-radius__primary;

    &--desktop {
      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include breakpoint($breakpoint-tablet--large) {
        display: block;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__content {
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-laptop--medium) {
      br {
        display: none;
      }
    }
  }

  &__description {
    margin-bottom: 28px;

    @include breakpoint($breakpoint-tablet--large) {
      br {
        display: none;
      }
    }
  }

  &__button {
    @include breakpoint($breakpoint-tablet--large) {
      display: block;
      margin: 0 auto;
    }
  }
}
