#equipment {
}

.equipment {
  position: relative;

  &__item {
    height: 100%;

    border-radius: $border-radius__primary;
    overflow: hidden;

    background-color: #ffffff;
    box-shadow: $shadow__primary;
  }

  &__picture {
    width: 100%;
    height: 325px;

    @include breakpoint($breakpoint-laptop--medium) {
      height: 285px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  &__wrapper {
    padding: 20px 35px 35px 35px;
  }

  &__title {
    margin-bottom: 25px;

    font-size: $font-size__text--large;
    font-weight: $weight-Regular;

    text-align: center;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--medium;
    }
  }
}
